<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<form action="/UpdatePassword" method="post">
    <div>
        <label >Old password :</label>
        <input type="text" id="oldPsw" name="oldPassword">
    </div>
    <div>
        <label>new password :</label>
        <input type="password" id="psw" name="newPassword">
    </div>
    <div>
        <label >confirmation :</label>
        <input type="password" id="psw_confirm" name="confirmPassword">
    </div>
    <div class="button">
        <button type="submit">Envoyer le message</button>
    </div>
</form>
</body>
</html>